body {
    font-family: "PT Sans",Arial,sans-serif ;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    margin:0;
    padding:0;
    color:#000000;
    text-transform:uppercase;
    background-color:#f2f2f2;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin:-1px;
    border: 0;
    padding: 0;
    white-space:nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow:hidden;background-position: 0 0;
}
    
.site {
    position: relative;
    width:1200px;
    margin:0 auto;
    background-color: #ffffff;
    box-shadow: 0px 0 15px 5px rgba(0,0,0,0.2);
}

a {
    text-decoration: none;
}

.main-navigation {
    position: relative;
    line-height: 26px;
    font-weight: 700;
}

.main-header-logo {
    display:block;
    position: absolute;  
    left:50%;
    margin-left:-70px;
    z-index: 1;  
}

.site-navigation {
    display:flex;  
    list-style:none; 
    padding:0;
    margin:0;
    padding-left:72px;
    padding-right:72px;
    width:1056px;
    text-align: center; 
}

.site-navigation li{
    width:239px;
    padding-top:15px;
    padding-bottom:15px;
}

.site-navigation li:first-child,
.site-navigation li:nth-child(2) {
    text-align:left;
}

.site-navigation li:nth-child(2) {
    margin-right: 100px;
}

.site-navigation li:last-child,
.site-navigation li:nth-child(3) {
    text-align:right;
}

.site-navigation a {
    color:#000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
    color:#81b3d2;
}

.site-navigation a:active {
    color:#b2b2b2;
}

.current-page {
    color:#766357;
}

.background {
    position: relative;
    min-height: 508px;
    background-color:#8eb4d2;
    background-image:url('../img/background-photo.jpg');
    background-repeat: no-repeat;
    background-position:center 28%;
    background-size: 1200px 800px;
}

.welcome {
    display: block;
    margin:0 auto;
    padding-top:77px;
    width:459px;
    min-height:353px;
    
}

.background::after {
    content:"";
    position: absolute;
    left:-2px;
    bottom:-2px;
    width:1203px;
    height: 59px;
    background-image:url('../img/polygon.png');
    background-repeat: no-repeat;   
}

.description {
    line-height: 26px;
    padding-top: 60px;
    padding-left:355px;
    padding-right:356px;
    text-align: center;
}

.description-sedona {
    font-size: 21px;
    font-weight: 700;
    margin:0;
    margin-bottom:28px;
}

.description-reasons {
    margin:0;
    margin-bottom:50px;
    color:#333333;
}

.feature {
    display:flex;
    background-color:#81b3d2;
}

.feature-item {
    padding-top:46px;
    padding-left:60px;
    padding-right:60px;
    padding-bottom:10px;
    text-align: center;
    color:#ffffff;
}

.feature-item h2 {
    font-size: 21px;
    font-weight: 700;
}

.real-town h2 {
    width:125px;
    margin-left: 77px;
}

.recommendation-list {
    display: flex;
    list-style:none;
    min-height: 330px;
    margin:0;
    padding: 0;
}

.recommendation-item {  
    width: 400px;
    padding-bottom:10px;
    text-align: center;
}

.recommendation-item h3,
.features-item h3 {
    font-size: 21px;
    font-weight: 700;
}

.recommendation-item:first-child p {
    margin-left: 73px; 
    margin-right: 75px; 
    margin-top:21px;
    color:#333333;
}

.recommendation-item:nth-child(2) p {
    margin-left: 56px; 
    margin-right: 56px; 
    margin-top:21px;
    color:#333333;
}

.recommendation-item:last-child p {
    margin-left: 64px; 
    margin-right: 63px; 
    margin-top:21px;
    color:#333333;
}

.recommendation-item:first-child h3 {
    position: relative;   
    padding: 0;
    margin: 0;
    padding-top: 161px;  
}

.recommendation-item:nth-child(2) h3 {
    position: relative;   
    padding: 0;
    margin: 0;
    padding-top: 161px;  
}


.recommendation-item:last-child h3 {
    position: relative;  
    padding: 0;
    margin: 0;
    padding-top: 161px;  
}

.recommendation-item h3::before {
    content:"";
    position: absolute;
    left:50%;
    background-repeat: no-repeat;
    background-position: 0;
}

.recommendation-item:first-child h3::before {
    width: 75px;
    height: 72px;
    bottom:49px;
    margin-left:-37px;
    background-image: url("../img/icon-1.svg");
}

.recommendation-item:nth-child(2) h3::before {
    width: 74px;
    height: 70px;
    bottom:49px;
    margin-left:-36px;
    background-image: url("../img/icon-2.svg");
}

.recommendation-item:last-child h3::before {
    width: 64px;
    height: 76px;
    bottom:48px;
    margin-left:-38px;
    background-image: url("../img/icon-3.svg");
}

.devils-bridge .feature-item {
    padding-top:49px;
    padding-left:48px;
    padding-right:49px;
    margin: 0 auto;
    min-width: 303px;
    min-height: 142px;
    text-align: center;
}   

.features { 
    min-height: 246px;
    padding-bottom:10px;
    background-color:#eeeeee;
}

.features-list {
    display:flex; 
    justify-content: space-between;
    list-style:none;
    margin: 0;
    padding:0;
}

.features-item {
    margin-top: 50px;
    width: 400px;
    text-align: center;
}

.features-item h3 {
    margin-top:0;
    width:125px;
    margin-left:138px;
}

.features-item:first-child p {
    margin-left: 95px;
    margin-right: 97px;
    margin-bottom:0;
}

.features-item:nth-child(2) p {
    margin-left: 69px;
    margin-right: 69px;
    margin-bottom:0;
}

.features-item:last-child p {
    margin-left: 77px;
    margin-right: 74px;
    margin-bottom:0;
}

.interested-wrapper {
    width:436px;
    margin: auto;
    line-height: 24px;
    margin-top:50px;
    padding-bottom:3px;
    margin-bottom: 45px;
    text-align: center;
    color:#333333;  
}

.interested-wrapper h2 {
    margin:auto;
    margin-bottom:26px;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
}

.interested-info {
    margin:0;
}

.button-search-hotel {
    display: block;
    width: 568px;
    height: 86px;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    color:#ffffff;
    background-color:#766357;
    border:none;
}

map {
    position: relative;
}

.button-search-hotel:hover,
.button-search-hotel:focus {
    background-color:#604e43;
}

.button-search-hotel:active {
    background-color:#503e33;
    color:#857871;
}

.button-search-hotel-wrapper {
    position:relative;
    width:568px;
    margin:0 auto;
}

.travel-form {   
    position: absolute;
    padding-top:55px;   
    padding-left:55px;
    padding-right:55px;
    padding-bottom:55px;
    font-weight: 700;
    background-color: #ffffff;
    z-index:1;
}

.travel-input {
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom:29px;
    height: 38px;
}

.travel-input input {
    height: 38px;
    width: 333px;
    font-weight: 700;
    padding-left:13px;
    flex-grow:1;
    border:none;
    background-color:#f2f2f2;
    text-transform: uppercase;
}

.travel-input .arrivaldate {
    margin:0;
    margin-left:17px;
}

.travel-input .departuredate {
    margin-left:13px;
}

.travel-calendar {
    border:none;
    position:absolute;
    width:21px;
    height:22px;
    left:420px;
    fill:#a9a9a9;
    background-color:transparent;
}

.travel-calendar:hover,
.travel-calendar:focus {
    outline: none;;
    fill:#000000;
}

.travel-calendar:active {
    outline: none;
    fill:#81b3d2;
}

.people-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.people-wrapper input {
    position:relative;
    width: 38px;
    padding: 0;
    text-align: center;
}

.travel-input input:hover {
    background-color:#ebebeb;
}

.travel-input input:focus {
    outline: none;
    height:34px;
    background-color:#ffffff;
    border: 2px solid #e5e5e5;
}

.travel-input .adults:focus,
.travel-input .childrens:focus {
    width:34px;
}

.numbers {
    width: 38px;
    height: 38px;
    padding: 0;
    background-color:#f2f2f2;
    border:none;
}

.numbers:hover,
.numbers:focus,
.numbers:active {
    outline:none;
}

.travel-input .minus {
    margin-left: 33px;
}

.travel-input:nth-child(2) .minus:nth-child(2) {
    margin-left: 19px;
}

.minus {
    position: relative;
}

.minus::before {
    content:"";
    position: absolute; 
    height: 3px; 
    width: 11px;
    right:13px;
    background-color: #a9a9a9;
}

.plus {
    position: relative;   
}

.plus::before {
    content:"";
    position: absolute ;
    height: 11px;
    width: 3px;
    right:17px;
    top:15px;
    background-color: #a9a9a9;
}

.plus::after {
    content:"";
    position: absolute ;
    height: 3px;
    width: 11px;
    right:13px;
    background-color: #a9a9a9;
}

.minus:hover::before,
.minus:focus::before,
.plus:hover::before,
.plus:hover::after,
.plus:focus::before,
.plus:focus::after {
    background-color:#000000;
}

.minus:active::before,
.plus:active::before,
.plus:active::after {
    background-color:#81b3d2;
}

.button-search {
    font:inherit;
    width: 458px;
    height:58px;
    font-size: 21px;
    vertical-align: middle;
    background-color:#81b3d2;
    color:#ffffff;
    border:none;
}

.button-search:hover,
.button-search:focus {
    background-color:#669ec0;
}

.button-search:active {
    background-color:#5496bd;
    color:#ffffff4c;
}

.form-button {
    cursor:pointer;
}

.main-footer {
    display: flex;
    background-color:#ffffff;
    position: absolute;
    align-items:center;
    width:967px;
    padding-left:132px;
    padding-right:101px;
    padding-top:22px;
    padding-bottom:22px;
    opacity: 0.9;
    left:0;
    bottom:0;
}

.footer-contacts {
    width: 223px;
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
    margin-right:159px;
}

.footer-visit-sedona {
    margin:0;
    margin-bottom:10px;
}

.footer-contacts a {  
    color:#000000;
}

.footer-telefon {
    margin:0;
}

.footer-social {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style:none;
    width: 150px;
    margin-right: 230px;
    padding:0;
}

.social-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 46px;
    height: 48px;
    color:#ffffff;
    background-color:#81b3d2 ;
}

.social-button:hover,
.social-button:focus {
    background-color:#669ec0;
}

.social-button:active {
    background-color: #5496bd;
}

.social-button:active path {
    opacity: 0.3;
}

.htmlacademy-logo {
    fill:#231f20;
}

.htmlacademy-logo:hover,
.htmlacademy-logo:focus {
    fill:#81b3d2;
}

.htmlacademy-logo:active {
    fill:#bdbbbc;
}

.footer-htmlacademy {
    display: flex;
    align-items: center;
    margin: 0;
}

.footer-copyright {
    padding-right:8px;
}

.filter {
    position: relative;
    min-height:217px;
    background-color:#8eb4d2;
    background-image: url("../img/filter-background.jpg");
    background-repeat: no-repeat;
    background-size: 1200px 800px;
    background-position: 0 50%;
}

.filter-form {
    display: flex;
    margin-right:74px;
    margin-left:72px;
    padding-top:26px;
    text-align: left;
}

.filter-form fieldset {
    margin:0;
    padding:0;
}

.filter-form ul {
    margin:0;
    padding:0;
    color:#ffffff;
}

.infrastructure,
.house-type,
.cost {
    font:inherit;
    border:none;
}

.legend {
    font-size: 16px;
    font-weight: 700;
    margin-bottom:26px;
    color:#ffffff;
}

.filter-form .infrastructure {
    margin-right:115px;
}

.filter-form .house-type {
    margin-right:350px;
}

.infrastructure-item,
.house-type-item {
    margin-bottom:23px;
    padding-left:40px;
}

.infrastructure-item label, 
.house-type-item label{
    position: relative;
    display: block;
}

.infrastructure-list,
.house-type-list {
    list-style:none;
}

.infrastructure-input-ckeckbox:not(:checked) + label::before,
.house-type-input-ckeckbox:not(:checked) + label::before {
    content:"";
    position: absolute;
    left:-40px;
    top:0;
    width: 23px;
    height: 23px;
  
    background-image: url("../img/checkbox-off.png");
    background-repeat: no-repeat;
    background-position:0 0;
}

.infrastructure-input-ckeckbox:checked + label::after,
.house-type-input-ckeckbox:checked +label::after {
    content:"";
    position: absolute;
    left:-40px;
    top:0;
    width: 27px;
    height: 23px;
    
    background-image: url("../img/checkbox-on.png");
    background-repeat: no-repeat;
    background-position:0 0;
}

.filter-range {
    width: 330px;
    color: #ffffff;
    text-transform: uppercase;
}

.filter-range-title {
    font-weight: 700;
    font-size:16px;
    margin-bottom: 9px;
}

.price-control {
    position: relative;

    height: 36px;
    margin-bottom: 20px;
  
    font-size: 0;

    border: 2px solid #ffffff;
    border-radius: 2px;
}

.price-control::after {
    content: "";
    position: absolute;
    
    top: 50%;
    left: 50%;
    width: 2px;
    height: 22px;
  
    background: #ffffff;
    transform: translate(-50%, -50%);
}

.price-control label {
    display: inline-block;
  
    font-size: 14px;
    line-height: 38px;
    vertical-align: top;
  
    cursor: pointer;
}

.price-control .min-price,
.price-control .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-control input {
    width: 50px;
    margin: 0;
  
    color: inherit;
    font: inherit;
  
    background: none;
    border: none;
}

.range-control {
    position: relative;
  
    margin-bottom: 32px;
}

.range-control .scale {
    height: 2px; 
    background: rgba(255, 255, 255, 0.3);
}

.range-control .bar {
    width: 80%;
    height: 2px;
  
    background: #ffffff;
}

.range-toggle {
    position: absolute;
    top: -9px;
    width: 4px;
    height: 4px;
  
    background: #ababab;
    border: 8px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
    cursor: pointer;
}

.range-toggle-min {
    left: 0;
}
  
.range-toggle-max {
    left: 80%;
}

.range-toggle:hover {
    background: #1c4f80;
}

.show-button {
    display:block;
    margin:0 auto;
    padding: 6px 35px;

    font-size: 14px;
    line-height: 20px;
    color:#ffffff;
    text-transform: uppercase;
    background-color:transparent;
    border:2px solid #ffffff;
    cursor: pointer;
}

.show-button:hover,
.show-button:focus {
    background-color:#ffffff;
    color:#000000;
}

.infrastructure-input:hover,
.house-type-input:hover,
.infrastructure-input:focus, 
.house-type-input:focus {
    border-color:#ffffff;
    color:#ffffff;
}

.infrastructure-input:disabled,
.house-type-unput:disabled {
    border-color:#6a6a6a;
    color:#6a6a6a;
}

.found-title {
    display: inline-block;
    margin:0;
    margin-top:30px;
    margin-bottom:30px;
    font-size:21px;
    line-height: 26px;
    font-weight: 700;
}

.found {
    display: inline-flex;
}
.found-filter {
    display: flex;
    font-size:12px;
    line-height:18px;
}

.found-filter p {
    margin-left:49px;
    margin-top: 15px;
}

.found-filter-list {
    display: flex;
    list-style:none;
    margin:0;
    padding:0;  
    margin-top:15px;
    margin-right: 33px;
    font-size:12px;
    line-height:18px;
}

.found-filter-list li {
    margin-right: 33px;
}

.found-filter-list li:last-child {
    margin-right:580px;
}
.found-sort-list {
    display: flex;
    list-style:none;
}

.found-button-price {
    color:#81b3d2;
    border:none;
}

.found-button-type,
.found-button-raiting {
    color:#b2b2b2;
    border:none;
    border-bottom:1px dotted #81b3d2;
}

.found-button-type:hover,
.found-button-raiting:hover,
.found-button-type:focus,
.found-button-raiting:focus {
    color:#81b3d2;
    border-bottom:1px dotted #81b3d2;
}

.found-button-type:active,
.found-button-raiting:active {
    color:#000000;
    border:none;
}

.found-button-up,
.found-button-down {
    position:relative;
    width:11px;
    height:10px;
}

.found-button-up:hover,
.found-button-down:hover,
.found-button-up:focus,
.found-button-down:focus {
    fill:#000000;
}

.found-button-up:active,
.found-button-down:active {
    color:#81b3d2;
}

.hotel-type {
    text-align: left;
    color:#333333;
}

.hotel-info .hotel-type-span:nth-child(1) {
    margin-right:39px;
}

.hotel-list {
    margin: 0;
    padding:0;
    list-style:none;
}
.hotel-item {
    display: flex;
    padding-left:72px;  
    padding-top:30px;
    padding-bottom:30px;
    border:1px solid #e5e5e5;
    border-left:none;
    border-right:none;
}

.hotel-info {
    display: flex;
    flex-direction: column;
    margin-left:30px;
    margin-right:540px;
}

.hotel-info h3 {
    margin:0;
    padding:0;
    margin-bottom:6px;
    font-size:21px;
    font-weight: 700;
    line-height: 26px;
    color:#000000;
}

.hotel-info h3:hover,
.hotel-info h3:focus {
    color:#81b3d2;
}

.hotel-info h3:active {
    color:#000000;
    opacity:30%;
}

.hotel-type {
    margin-bottom:16px;
}

.hotel-raiting {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    position:relative;
}


.hotel-item .hotel-raiting::before {
    content:"";
    
    position:absolute;
    width:74px;
    height: 17px;
    background-image: url("../img/star.svg");
    background-repeat:repeat-x;
    right:100%;

}

.hotel-item:nth-child(2) .hotel-raiting::before {
    width:54px;
}

.hotel-item:last-child .hotel-raiting::before {
    width:36px;
}

.button-info {
    padding-left:17px;
    padding-right:17px;
    padding-top:6px;
    padding-bottom:5px;
    margin:6px;
    width: 110px;
    height: 27px;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    color:#ffffff;
    background-color:#81b3d2;
}

.button-info:hover,
.button-info:focus {
    background-color:#669ec0;
}

.button-info:active {
    color:#857871;
    background-color:#5496bd;
}

.button-reserve {
    padding-left:16px;
    padding-right:16px;
    padding-top:6px;
    padding-bottom:6px;
    width: 142px;
    height: 27px;
    font-size:14px;
    font-weight: 700;
    line-height: 21px;
    color:#ffffff;
    background-color:#766357;
}

.button-reserve:hover,
.button-reserve:focus {
    background-color:#604e43;
}

.button-reserve:active {
    color:#857871;
    background-color:#503e33;
}

.inner-footer {
    display: flex;
    background-color:#ffffff;
    opacity: 0.9;
    padding-top:36px;
}